---
import Layout from '../layouts/Layout.astro';
import GalleryHeroBlock from '../components/GalleryHeroBlock.astro';
import GalleryGridBlock from '../components/GalleryGridBlock.astro';
---

<Layout title="BERSERK_ARCH // GALLERY">
<main class="relative bg-background overflow-hidden min-h-screen">
<GalleryHeroBlock />
<GalleryGridBlock />
</main>
</Layout>
