---
import Layout from '../layouts/Layout.astro';
import HomeHeroBlock from '../components/HomeHeroBlock.astro';
import HomeFeaturesBlock from '../components/HomeFeaturesBlock.astro';
import HomeInstallBlock from '../components/HomeInstallBlock.astro';
import GlobalGalleryBlock from '../components/GlobalGalleryBlock.astro';
import HomeCTABlock from '../components/HomeCTABlock.astro';
---

<Layout>
<main class="relative">
<HomeHeroBlock />
<HomeFeaturesBlock />
<HomeInstallBlock />
<GlobalGalleryBlock />
<HomeCTABlock />
</main>
</Layout>
